<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Avantia"
        tools:targetApi="31">
        <activity
            android:name=".Contact"
            android:exported="false" />

        <activity
            android:name=".About"
            android:exported="false" />

        <activity
            android:name=".ourCourses"
            android:exported="false" />
        <activity
            android:name=".errorPage"
            android:exported="false" />

        <activity
            android:name=".studentHome"
            android:exported="false" />
        <activity
            android:name=".ExamEditor"
            android:exported="false" />
        <activity
            android:name=".results"
            android:exported="false" />
        <activity
            android:name=".listQuizzes"
            android:exported="false" />

        <activity
            android:name=".Question"
            android:exported="false" />
        <activity
            android:name=".signup"
            android:exported="false" />

        <activity
            android:name=".Exam"
            android:exported="false" />
        <activity
            android:name=".login"
            android:exported="false" />

        <activity
            android:name=".Home"
            android:exported="false" />

        <activity
            android:name=".Enquiry_form"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>